.footer__column-link {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 30px;
    font-size: 18px;
    color: var(--white);
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer__column-link:hover {
    opacity: 0.5;
    animation: opacity 0.5s linear;
}